<html>
    <head>
        <title>Results</title>
    </head>
    <body>
        <!-- Header -->
        <%- include('header') %>
    
        <!-- Results Table -->
        <div class="results-container">
            <h1>Game Results</h1>
            <h2>Winner: <%= winner %></h2>
  
        <table class="results-table">
           <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <% rankings.forEach(function(player, index) { %>
                  <tr>
                   <td><%= index + 1 %></td>
                    <td><%= player.name %></td>
                    <td><%= player.points %></td>
                  </tr>
            <% }) %>
             </tbody>
        </table>
        </div>

        <div class="results-actions">
          <button onclick="window.location.href='/uno-games'">Back to Game List</button>
          <button onclick="startNewGame()">Play Again</button>
        </div>
        
  
      <!-- Include the chatbox -->
      <%- include('components/chatbox') %>

    </body>
</html>